---
import BaseLayout from '../layouts/BaseLayout.astro';
import TitleBlock from '../components/TitleBlock.astro';
import ProjectsCarousel from '../components/ProjectsCarousel.astro';
import PostsCarousel from '../components/PostsCarousel.astro';
---

<BaseLayout>
  <TitleBlock
    title="Jeffrey Yao"
    subtitle="First year CS student at UNSW Sydney"
  >
    <p class="mb-12 text-gray-12">
      Building beautiful, performant things that scratch the itch to create and
      learn.
    </p>
  </TitleBlock>

  <h3 class="mb-4 text-xl font-semibold font-display text-gray-12">
    Recent Posts
  </h3>
  <PostsCarousel />
  <a
    href="/blog/"
    class="transition-all text-gray-11 hover:text-green-11 hover:translate-x-16"
    >Read all posts -></a
  >

  <h3 class="mt-12 mb-4 text-xl font-semibold font-display text-gray-12">
    Featured Projects
  </h3>
  <ProjectsCarousel />
  <a href="/projects/" class="transition-all text-gray-11 hover:text-green-11"
    >See all projects -></a
  >
</BaseLayout>
