---
import NavItem from "./NavItem.astro";
import MobileMenu from "./MobileMenu";
import ThemeToggle from "./ThemeToggle";
---

<nav class="md:pt-12 justify-between md:w-[52rem] w-full px-8 py-8 flex items-center">
  <MobileMenu client:only="solid-js" />
  <div class="hidden gap-4 ml-[-0.405rem] md:flex">
    <NavItem href="/" text="Home" />
    <NavItem href="/blog/" text="Blog" />
    <NavItem href="/projects/" text="Projects" />
    <NavItem href="/now/" text="Now" />
    <NavItem href="/about/" text="About" />
  </div>

  <ThemeToggle client:load />
</nav>