---
  import cn from 'classnames'
  const { href, text } = Astro.props
  const currentPath = Astro.canonicalURL.pathname
  const isActive = currentPath === href
---

<a href={href} class={ cn(isActive ? 'font-semibold text-gray-12' : 'font-regular text-gray-11'
  , 'hidden md:inline-block' ) }>
  {text}
</a>