---
import { Icon } from "astro-icon";
---

<section class="flex items-center gap-4">
  <a href="https:/twitter.com/jeffdyao" target="_blank">
    <button aria-label="Twitter profile">
      <Icon name="twitter-logo" class="w-[15px]" />
    </button>
  </a>
  <a href="https:/github.com/jeffreydyao" target="_blank">
    <button aria-label="GitHub profile">
      <Icon name="github-logo" class="w-[15px]" />
    </button>
  </a>
  <a href="https:/twitter.com/jeffdyao" target="_blank">
    <button aria-label="LinkedIn profile">
      <Icon name="linkedin-logo" class="w-[15px]" />
    </button>
  </a>
  <a href="https:/twitter.com/jeffdyao" target="_blank">
    <button aria-label="Email">
      <Icon name="envelope-closed" class="w-[15px]" />
    </button>
  </a>
</section>
