---
import { Icon } from "astro-icon";
---

<section class="flex items-center gap-4">
  <a href="https:/twitter.com/jeffdyao" class="hover:!opacity-100" target="_blank">
    <button aria-label="Twitter profile">
      <Icon name="twitter-logo" class="w-[15px] text-gray-12 transition-all hover:text-blue-9" />
    </button>
  </a>
  <a href="https:/github.com/jeffreydyao" class="hover:!opacity-100" target="_blank">
    <button aria-label="GitHub profile">
      <Icon name="github-logo" class="w-[15px] text-gray-12 transition-all hover:text-purple-9" />
    </button>
  </a>
  <a href="https://www.linkedin.com/in/jeffreyyao8" class="hover:!opacity-100" target="_blank">
    <button aria-label="LinkedIn profile">
      <Icon name="linkedin-logo" class="w-[15px] text-gray-12 transition-all hover:text-indigo-9" />
    </button>
  </a>
  <a href="mailto:hello@jyao.me" class="hover:!opacity-100" target="_blank">
    <button aria-label="Email">
      <Icon name="envelope-closed" class="w-[15px] text-gray-12 transition-all hover:text-gray-9" />
    </button>
  </a>
</section>
