---
const { title, subtitle } = Astro.props
---

<div class="md:mt-6 text-gray-12 md:w-[26rem] mb-12">
  <h1 class="mb-2 text-3xl font-bold font-display">{title}</h1>
  <h2 class="mb-2 text-gray-11">{subtitle}</h2>
  <slot />
</div>