---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
  <div class="md:pt-6 text-gray-12 md:w-[26rem]">
    <h1 class="pb-2 text-3xl font-bold font-display">Jeffrey Yao</h1>
    <h2 class="pb-2 text-gray-11">First year CS student at UNSW Sydney</h2>
    <p>Building beautiful, performant things that scratch the itch to create and learn.</p>
  </div>
</BaseLayout>