---
import BaseHead from "../components/BaseHead.astro";
import '../styles/base.css';
import Navbar from "../components/Navbar/Navbar.astro";
const { title, description, image } = Astro.props
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead title={title} description={description} image={image} />
</head>

<body class="flex flex-col items-center mb-16 bg-gray-2 dark:bg-gray-1 md:mb-24">
  <Navbar />

  <main class=" md:w-[52rem] w-full px-8">
    <slot />
  </main>
</body>

</html>