---
import BaseHead from "../components/BaseHead.astro";
import '../styles/base.css';
import Navbar from "../components/Navbar/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead />
</head>

<body class="flex flex-col items-center bg-gray-2 dark:bg-gray-1">
  <Navbar />

  <main class="md:w-[52rem] w-full px-8">
    <slot />
  </main>
</body>

</html>