---
import BaseHead from "../components/BaseHead.astro";
import '../styles/base.css';
import NavItem from "../components/Navbar/NavItem.astro";
import ThemeToggle from "../components/Navbar/ThemeToggle";
import MobileMenu from "../components/Navbar/MobileMenu"
---

<!DOCTYPE html>
<html lang="en">

<head>
  <BaseHead />
  <script is:inline>
    // Sets theme on page load.
    // Respect localStorage preference first then system.
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
      return 'light';
    })()

    if (theme === 'light') {
      document.documentElement.classList.remove('dark');
    } else {
      document.documentElement.classList.add('dark')
    }
  </script>
</head>

<body class="bg-gray-2 flex flex-col items-center">
  <div class="md:pt-12 justify-between md:w-[672px] w-full px-8 pt-8 flex items-center">
    <MobileMenu client:media="(max-width: 768px)" />
    <div class="md:flex gap-8 hidden">
      <NavItem href="/" text="Home" />
      <NavItem href="/blog" text="Blog" />
      <NavItem href="/projects" text="Projects" />
      <NavItem href="/now" text="Now" />
      <NavItem href="/about" text="About" />
    </div>

    <ThemeToggle client:load />
  </div>
  <slot />
</body>

</html>