---
import BaseLayout from "./BaseLayout.astro";
const { content } = Astro.props;
---

<BaseLayout>
  <div class="md:mt-6 text-gray-12 mb-10 md:w-[26rem]">
    <h1 class="mb-2 text-3xl font-bold font-display">Now</h1>
    <h2 class="mb-2 text-gray-11">Updated {content.date}, from {content.location}.</h2>
  </div>
  <article
    class="prose prose-headings:md dark:prose-invert prose-code:before:content-none prose-code:after:content-none prose-bullets:fill-red-9">
    <slot />
  </article>
</BaseLayout>